<!--
 ________  ____      ____  ______    
|_   __  ||_  _|    |_  _||_   _ `.  
  | |_ \_|  \ \  /\  / /    | | `. \ 
  |  _|      \ \/  \/ /     | |  | | 
 _| |_        \  /\  /     _| |_.' / 
|_____|        \/  \/     |______.'  
https://fwd.dev
-->
<!DOCTYPE html>
<html>
    <head>

      <link rel="icon" type="image/png" href="img/favicon.png" />
      <title>Fresh - Software</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- <script src="https://unpkg.com/jquery/dist/jquery.min.js"></script> -->
      <script src="https://nano.to/dist/vue.min.js"></script>
      <script src="https://nano.to/dist/axios.min.js"></script>
      <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->

      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="black">
      <meta name="apple-mobile-web-app-title" content="FWD">
      <link rel="apple-touch-icon" href="FWD - Software Co.">

      <meta property="og:title" content="FWD - Software Co.">
      <meta property="og:image" content="img/cover.png">

      <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />

      <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

      <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Anton|Archivo+Black|Pinyon+Script'>

      <link rel="stylesheet" href="css/style.css?v=1">
     
      <script src="https://metrics.bar/js/script.js" id="metrics" async defer></script>

      <script src="https://formsend.org/form.js"></script>

    </head>
    <body>
        <div id="app">
          <div class="content" style="opacity: 0" :style="{ 'opacity': loading ? '0' : '1' }">

            <!-- <div style="display:none">Solid Open Source Software</div> -->
            
            <!-- partial:index.partial.html -->
            <section class="content">
               <div style="height: 100px;"></div>
<!--                <img style="max-width: 40px; margin-bottom: 10px;" src="https://fwd.dev/img/logo-colorful-small.png" alt=""> -->
               <!-- <div style="height: 80px"></div> -->
               <p class="bottom" style="margin-top: 0">Fresh Web Designs</p>
               <p class="top">Miami, Florida</p>
               <h3 class="title">Really Good Software</h3>
               <div style="height:10px"></div>
               <h3 class="title" style=" font-size: 16px; opacity: 1; ">SINCE. 2014</h3>
               <div style="height: 90px"></div>
            </section>

            <section :class="`neon ${ block.portfolio ? 'portfolio' : '' }`" v-for="block in blocks">
                <div class="title">{{ block.title }}</div>
                <div class="cards">
                  <div @click="preview(_block)" class="card" v-for="_block in block.blocks" :style="{ 'background-image': _block.background ? `url('${_block.background}')` : '', 'min-height': block.portfolio ? '200px' : '170px' }">
                    <img v-if="!_block.background" :src="_block.icon" alt="" :class="{ 'round': _block.round }" :style="{ 'border-radius': _block.round ? '50%' : '' }">
                    <span class="sub-title" :style="`background-color: ${_block.color ? _block.color : ''}`">{{ _block.title }}</span>
                    <span v-if="_block.tag" class="sub-tag">{{ _block.tag }}</span>
                    <div v-if="_block.images" style="display: none; opacity: 0">
                      <a v-for="i in _block.images.slice(1, 999)" data-fancybox="gallery-4" :href="i"></a>
                    </div>
                  </div>
                </div>
            </section>

            <section v-if="true" class="neon contact">
              <div class="title">Contact Us</div>
              
              <form class="form" onsubmit="send(this); return false">
                <input type="text" name="Name" placeholder="Your Name" required>
                <input type="text" name="Company" placeholder="Company (optional)">
                <input type="email" name="Email" placeholder="Your Email" required>
                <select value="General" required name="Subject">
                  <!-- <option selected value="General">General</option> -->
                  <option :value="i.title" v-for="i in blocks.find(a => a.title === 'Services').blocks">{{ i.title }}</option>
                  <!-- <option value="Other">API Usage</option> -->
                  <option value="Other">Other</option>
                </select>
                <textarea name="message" id="" cols="30" rows="10" placeholder="" required></textarea>
                <button type="submit" class="contact-btn">Send Form</button>
              </form>
              
            </section>
            
          </div>

           <div id="sun"></div>

          <section class="lighth">
             <section class="lightv"></section>
             <!-- <section class="lightv" :style="{ 'color': color || '#e5279d' }"></section> -->
          </section>
        </div>
    
        <script>
     
           window.track_conversion = function() {
    
            const postData = { event: 'Form Submission' };
            
            fetch('https://api.metrics.bar/event', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(postData)
            }).then(response => response.json()).then(data => {
                console.log(data);
            }).catch(error => {
                console.error('Error:', error);
            });
    
          }

          window.send = function(form) {
            // console.log(  )
                if (form[0].value) return form.reset()
               Form.send({
                 form: form,
                 key: "public-f1381d2e015d4b",
                 success: (success) => {
                    // message.style.display = "block";
                    // message.innerHTML = 'Sent! We will be in touch soon. Thank you.'
                    // button.innerHTML = "Done"
                    setTimeout(() => {
                      window.alert('Sent.')
                      form.reset()
                    }, 100)
                    window.track_conversion()
                 },
                 error: (error) => {
                  // button.setAttribute("disabled", "false");
                  // message.innerHTML = response.message
                  // message.innerHTML = 'Sorry, we\'re having issues with our website. Please send us an email to <a href="mailto:puppycity18@gmail.com">puppycity18@gmail.com</a>, with your message. Apologies for the inconvenience. '
                  // message.style.display = "block";
                 },
              })
          }
      </script>

        <script>
          // setTimeout(function(){
            var app = new Vue({
              el: '#app',
              data: {

                showGlobe: false, 

                send: window.send,

                loading: true,

                color: false,
                
                player: null,

                music: false,

                blocks: [


                  // {
                  //   title: "COMMISSIONED",
                  //   portfolio: true,
                  //   blocks: [

                  //     {
                  //       background: "img/platforms/nanogram.png",
                  //       title: "NanoGram.ai",
                  //       // title: "DeFi Social Media",
                  //       link: "https://nanogram.ai"
                  //     },

                  //     {
                  //       background: "img/platforms/pythas.png",
                  //       title: "Pythas OTC",
                  //       link: "https://account.pythascapital.com/#/login"
                  //     },

                  //   ]
                  // },

                  {
                    title: "Services",
                    blocks: [


                      {
                        icon: "img/design.png",
                        title: "Website Design"
                      },
              
                      {
                        icon: "img/software.png",
                        title: "Software Development"
                      },   
                     
                      {
                        icon: "img/code.png",
                        title: "Mobile Development"
                      },

                      {
                        icon: "img/blockchain.png",
                        title: "Blockchain Development"
                      },

                      {
                        icon: "img/servers.png",
                        title: "Data Migration"
                      },

                      // {
                      //   icon: "img/wordpress.png",
                      //   title: "Landing Pages & SEO"
                      // },

                      {
                        icon: "img/consulting.png",
                        title: "Software Consulting"
                      },
                      
                    ]
                  },

                  {
                    title: "Built by Us",
                    portfolio: true,
                    blocks: [

                      // {
                      //   background: "img/nano.png",
                      //   title: "Nano.to",
                      //   link: "https://nano.to"
                      // },

                      {
                        color: "#4cba31",
                        background: "img/menu.png",
                        title: 'Menu.Miami',
                        link: "https://menu.miami",
                        // title: 'Developer API',
                      },
         
                     {
                        background: "img/metrics.png",
                        // title: "Website Platform",
                        link: "https://metrics.bar",
                        title: "Metrics.Bar",
                      },

                      // {
                      //   background: "img/eats.png",
                      //   // title: "QR Code Menu",
                      //   link: "https://eats.miami",
                      //   title: "Eats.Miami",
                      // },

                      {
                        background: "img/nano.png",
                        title: 'Nano.to',
                        link: "https://github.com/fwd/nano-to",
                        // title: 'Developer API',
                      },

                    ]
                  },

                ]

              },
              mounted() {
                this.shuffle()
                // this.loadWork(() => {
                  this.loading = false
                // })
                // jic
                setTimeout(() => {
                  this.loading = false
                  this.showGlobe = true
                  this.$forceUpdate()
                }, 3000)
              },
              methods: {
                shuffle() {
                  var tracks = [ 
                    '/music/space.mp3', // my favorite
                    '/music/synthwave.mp3', 
                    '/music/accelerated.mp3'
                  ]
                  var selected = tracks[Math.floor(Math.random() * tracks.length)];
                  this.player = new Audio(selected)
                  this.player.onended = () => {
                    this.shuffle()
                    this.player.play()
                      // alert("The audio has ended");
                  }
                },
                preview(item) {
                  // console.log(item)
                  if (item.link) {
                    return window.open(item.link, '_blank').focus();
                  }
                  $.fancybox.open(item.images.map(a => {
                    return {
                      src: a,
                      opts : {
                        caption : item.category,
                      }
                    }
                  }), {
                    loop : false
                  });
                },
                loadWork(cb) {
                  var self = this
                  axios.get('/work').then(function(res) {
                    var works = res.data
                    self.blocks.unshift({
                      title: "Recent Work",
                      portfolio: true,
                      blocks: works.map(a => {
                        return {
                          round: true,
                          title: a.title,
                          images: a.images,
                          category: a.category,
                          description: a.description,
                          background: a.images[0]
                        }
                      })
                    })
                    if (cb) cb()
                  })
                },
                toggleMusic() {
                  var self = this
                  // var change = setInterval(() => {
                  //   self.color = colors[Math.floor(Math.random() * colors.length)]
                  // }, 1000)
                  if (!this.music) {
                    var colors = [ '#2980b9', '#e74c3c', '#8e44ad', '#f39c12' ]
                    this.player.play()
                  } else {
                    // self.color = false
                    this.player.pause()
                    // clearInterval(change)
                  }
                  this.music = !this.music
                  // var aud = document.getElementById("myAudio");
                }
              }
            })
          // }, 500)
        </script>


    </body>
</html>
